body {
  background-color: $light_gray;
  color: $light_black;
  position: relative;

  a {
    color: $light_black;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $purple;
    }
  }

  section.py-3 {
    p.introduction {
      position: absolute;
      top: 11%;
      font-size: 1.7em;
      font-style: italic;
    }

    h2 {
      text-align: center;

      /* margin-bottom: 3.5rem; */
      font-weight: 300;
      font-size: 4rem;
    }

    hr {
      width: 20%;

      /* border: none; */
      color: $light_black;
      height: 4px;
      margin-bottom: 3.5rem;
    }

    div.flex {
      display: flex;

      a {
        color: $light_black;

        &:hover {
          text-decoration: none;
          color: $purple;
        }

        div {
          padding: 3rem;
        }
      }

      a:first-of-type {
        div:first-of-type {
          padding-left: 0;
        }
      }
    }

    div.bg-powderblue {
      background-color: powderblue;
    }
  }
}

section#about {
  width: 45%;
  margin: 7% 10% auto;
}

section.portfolio-wrapper {
  margin: 10% 10% auto;
  position: absolute;
  top: 3%;

  div.informations {
    text-align: center;
    font-size: 1.5em;

    a.email {
      color: $light_black;
      font-weight: 500px;
      font-size: 2em;

      &:hover {
        text-decoration: none;
        color: $purple;
        text-shadow: 1px 1px 1px black;
      }
    }

    p:last-of-type {
      font-size: 1.8em;
    }
  }

  div.about {
    font-size: 1.3em;

    a.cv_link {
      background-color: $light_black;
      color: $gray_blue;
      font-size: 1.5em;
      padding: 1% 2%;
      margin-top: 5%;
    }
  }
}
