/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

//colors
$light_gray : #dedede;
$light_black : #212121;
$purple : #8347b8;
$blue_purple : #6b14ef;
$gray_blue : #f5ffff;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
