header {
  display: flex;
  margin-top: 2%;

  div.container {
    display: flex;
    justify-content: space-between;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
